*{
	width:100%;
	font-size:12pt;
	font-family:sans-serif;
	background:white;
	color:black;
	text-align:left;
	margin:0px;
	padding:0px;
	display:block;
	top:0%;
	height:auto;
	border:none;
	text-shadow:none;
	border:none;
	font-weight:normal;
}
header,h1,h2,h3{
	font-family:sans-serif;
	color:black;
	font-size:12pt;
	text-align:left;
	text-shadow:none;
	background:none;
}
.box{
	width:100%;
	outline:none;
}
img,nav{
	display:none;
}
#extra{
	background:none;
}
p.tip span {
    display: block;
}

.title{ grid-area:h; }
.menu{ grid-area:n; }
.content{ grid-area:m; }
.extra{ grid-area:e; }
.contact{ grid-area:f; }


.grid-container{
	display:grid;
	grid-template-areas:
		' h h h'
		'n n n'
		'm m m'
		'e e e'
		'f f f';
	grid-gap:0px;
	padding:4px;
}
script  {
    display:none;
}
.icon-bar{
	display: none;
}

